<footer>
    <!-- Footer Start-->
    <div class="footer-area footer-padding bg-secondary">
        <div class="container-fluid ">
            <div class="row d-flex justify-content-between">
                <div class="col-xl-3 col-lg-3 col-md-8 col-sm-8">
                 <div class="single-footer-caption mb-50">
                   <div class="single-footer-caption mb-30">
                      <!-- logo -->
                      <div class="footer-logo mb-35">
                       <a href="/" class="h1 text-light">GentzGallery</a>
                   </div>
                   <div class="footer-tittle">
                       <div class="footer-pera">
                           <p>Where to find the perfect watch</p>
                       </div>
                   </div>
            </div>
        </div>
    </div>
    <div class="col-xl-2 col-lg-2 col-md-4 col-sm-4">
        <div class="single-footer-caption mb-50">
            <div class="footer-tittle">
                <h4>Help & Information</h4>
                <ul>
                    <li><a href="#">Terms & Conditions</a></li>
                    <li><a href="#">Home Page</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-xl-2 col-lg-2 col-md-4 col-sm-4">
        <div class="single-footer-caption mb-50">
            <div class="footer-tittle">
                <h4>About</h4>
                <ul>
                    <li><a href="#">Our Story</a></li>
                    <li><a href="#">Contact Us</a></li>              
                </ul>
            </div>
        </div>
    </div>
    <div class="col-xl-2 col-lg-2 col-md-4 col-sm-4">
        <div class="single-footer-caption mb-50">
            <div class="footer-tittle">
                <h4>Collections</h4>
                <ul>
                    <li><a href="#">Men</a></li>
                    <li><a href="#">Boys</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-xl-2 col-lg-3 col-md-4 col-sm-4">
        <div class="single-footer-caption mb-50">
            <div class="footer-tittle">
                <h4>Categories</h4>
                <ul>
                    <li><a href="#">Analog</a></li>
                    <li><a href="#">Digital</a></li>
                    <li><a href="#">Analog-Digital</a></li>
                    <li><a href="#">Smart</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
</div>
</div>
<!-- footer-bottom area -->
<div class="footer-bottom-area">
    <div class="container">
        <div class="footer-border">
           <div class="row d-flex align-items-center">
               <div class="col-xl-12 ">
                   <div class="footer-copy-right text-center">
                       <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                          Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- Footer End-->
</footer>
<!--? Search model Begin -->
<div class="search-model-box">
    <div class="h-100 d-flex align-items-center justify-content-center">
        <div class="search-close-btn">+</div>
        <form class="search-model-form">
            <input type="text" id="search-input" placeholder="Searching key.....">
        </form>
    </div>
</div>
<!-- Search model end -->
<!-- Scroll Up -->
<div id="back-top" >
    <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
</div>

<!-- JS here -->
<!-- Jquery, Popper, Bootstrap -->
<script src="/assets/js/vendor/modernizr-3.5.0.min.js"></script>
<script src="/assets/js/vendor/jquery-1.12.4.min.js"></script>
<script src="/assets/js/popper.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>

<!-- Slick-slider , Owl-Carousel ,slick-nav -->
<script src="./assets/js/owl.carousel.min.js"></script> 
<script src="./assets/js/slick.min.js"></script>
 <script src="./assets/js/jquery.slicknav.min.js"></script>


<!-- One Page, Animated-HeadLin, Date Picker -->
<script src="/assets/js/wow.min.js"></script>
<script src="/assets/js/animated.headline.js"></script>
<script src="/assets/js/jquery.magnific-popup.js"></script>
<script src="/assets/js/gijgo.min.js"></script>

<!-- Nice-select, sticky,Progress -->
<script src="/assets/js/jquery.nice-select.min.js"></script>
<script src="/assets/js/jquery.sticky.js"></script>
<script src="/assets/js/jquery.barfiller.js"></script>

<!-- counter , waypoint,Hover Direction -->
<script src="/assets/js/jquery.counterup.min.js"></script>
<script src="/assets/js/waypoints.min.js"></script>
<script src="/assets/js/jquery.countdown.min.js"></script>
<script src="/assets/js/hover-direction-snake.min.js"></script>

<!-- contact js -->
<script src="/assets/js/contact.js"></script>
<script src="/assets/js/jquery.form.js"></script>
<script src="/assets/js/jquery.validate.min.js"></script>
<script src="/assets/js/mail-script.js"></script>
<script src="/assets/js/jquery.ajaxchimp.min.js"></script>

<!-- Jquery Plugins, main Jquery -->	
<script src="/assets/js/plugins.js"></script>
<script src="/assets/js/main.js"></script>


<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>


<script src="./PublicOut/js/jquery-3.3.1.min.js"></script>
<script src="./PublicOut/js/bootstrap.min.js"></script>
<script src="./PublicOut/js/jquery.nice-select.min.js"></script>
<script src="./PublicOut/js/jquery.nicescroll.min.js"></script>
<script src="./PublicOut/js/jquery.magnific-popup.min.js"></script>
<script src="./PublicOut/js/jquery.countdown.min.js"></script>
<script src="./PublicOut/js/jquery.slicknav.js"></script>
<script src="./PublicOut/js/mixitup.min.js"></script>
<script src="./PublicOut/js/owl.carousel.min.js"></script>
<script src="./PublicOut/js/main.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.16.6/dist/sweetalert2.all.min.js"></script>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<script src="./PublicOut/user-assets/js/vendor/modernizr-3.6.0.min.js"></script>
<script src="./PublicOut/user-assets/js/vendor/jquery-3.6.0.min.js"></script>
<script src="./PublicOut/user-assets/js/vendor/jquery-migrate-3.3.0.min.js"></script>
<script src="./PublicOut/user-assets/js/vendor/bootstrap.bundle.min.js"></script>
<script src="./PublicOut/user-assets/js/plugins/slick.js"></script>
<script src="./PublicOut/user-assets/js/plugins/jquery.syotimer.min.js"></script>
<script src="./PublicOut/user-assets/js/plugins/wow.js"></script>
<script src="./PublicOut/user-assets/js/plugins/jquery-ui.js"></script>
<script src="./PublicOut/user-assets/js/plugins/perfect-scrollbar.js"></script>
<script src="./PublicOut/user-assets/js/plugins/magnific-popup.js"></script>
<script src=".ic/PublicOut/user-assets/js/plugins/select2.min.js"></script>
<script src="./PublicOut/user-assets/js/plugins/waypoints.js"></script>
<script src="./PublicOut/user-assets/js/plugins/counterup.js"></script>
<script src="./PublicOut/user-assets/js/plugins/jquery.countdown.min.js"></script>
<script src="./PublicOut/user-assets/js/plugins/images-loaded.js"></script>
<script src="./PublicOut/user-assets/js/plugins/isotope.js"></script>
<script src="./PublicOut/user-assets/js/plugins/scrollup.js"></script>
<script src="./PublicOut/user-assets/js/plugins/jquery.vticker-min.js"></script>
<script src="./PublicOut/user-assets/js/plugins/jquery.theia.sticky.js"></script>
<script src="./PublicOut/user-assets/js/plugins/jquery.elevatezoom.js"></script>


<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://cdn.jsdelivr.net/npm/slick-carousel/slick/slick.min.js"></script>




<script>
    $(document).ready(function() {
        
        var mobileNavHtml = $('#navigation').clone();
        
        var toggleBtn = $('<button class="mobile-nav-toggle"><i class="fas fa-bars"></i></button>');

        $('.mobile-nav-container').append(toggleBtn);
        $('.mobile-nav-container').append('<div class="mobile-nav-menu"></div>');
        $('.mobile-nav-menu').append(mobileNavHtml);

        $('.mobile-nav-menu').hide();
        
        toggleBtn.on('click', function() {
            $('.mobile-nav-menu').slideToggle(300);
            $(this).find('i').toggleClass('fa-bars fa-times');
        });

        $('.mobile-nav-menu a').on('click', function() {
            $('.mobile-nav-menu').slideUp(300);
            toggleBtn.find('i').removeClass('fa-times').addClass('fa-bars');
        });

        $('.mobile-nav-menu li:has(ul)').append('<span class="submenu-toggle"><i class="fa fa-angle-down"></i></span>');
        
        $('.submenu-toggle').on('click', function(e) {
            e.preventDefault();
            $(this).siblings('ul').slideToggle(300);
            $(this).find('i').toggleClass('fa-angle-down fa-angle-up');
        });
    });
    </script>


</body>
</html>



