<!doctype html>
<html class="no-js" lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>GentzGallery</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">

    <!-- CSS here -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="assets/css/slicknav.css">
    <link rel="stylesheet" href="assets/css/flaticon.css">
    <link rel="stylesheet" href="assets/css/progressbar_barfiller.css">
    <link rel="stylesheet" href="assets/css/gijgo.css">
    <link rel="stylesheet" href="assets/css/animate.min.css">
    <link rel="stylesheet" href="assets/css/animated-headline.css">
    <link rel="stylesheet" href="assets/css/magnific-popup.css">
    <link rel="stylesheet" href="assets/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="assets/css/themify-icons.css">
    <link rel="stylesheet" href="assets/css/slick.css">
    <link rel="stylesheet" href="assets/css/nice-select.css">
    <link rel="stylesheet" href="assets/css/style.css">




    <link rel="stylesheet" href="./PublicOut/css/bootstrap.min.css" type="text/css">
   <link rel="stylesheet" href="./PublicOut/css/font-awesome.min.css" type="text/css">
   <link rel="stylesheet" href="./PublicOut/css/elegant-icons.css" type="text/css">
   <link rel="stylesheet" href="./PublicOut/css/magnific-popup.css" type="text/css">
   <link rel="stylesheet" href="./PublicOut/css/nice-select.css" type="text/css">
   <link rel="stylesheet" href="./PublicOut/css/owl.carousel.min.css" type="text/css">
   <link rel="stylesheet" href="./PublicOut/css/slicknav.min.css" type="text/css">
   <link rel="stylesheet" href="./PublicOut/css/style.css" type="text/css">
   <link rel="stylesheet" href="./PublicOut/user-assets/css/maind134.css">
   <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">

   
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   <script src="https://kit.fontawesome.com/b001ffdfea.js" crossorigin="anonymous"></script>





    


    


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css" />
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">


    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel/slick/slick.css"/>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel/slick/slick-theme.css"/>
    <style>
         .header__nav__option .sign-in-link {
   font-size: 16px;
   color: #333;
   margin-right: 15px;
   text-decoration: none;
   font-weight: 600;
    }
    .header__nav__option .sign-in-link:hover {
    color: #ff7f50;
    }

        .dropdown{
            position: relative;
            display: inline-block;;
        }
        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1000;
            right: inherit;
        }
        .dropdown-content a{
            color:black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
            width: 100%;
        }
        .dropdown-content a:hover{
            background-color: #cfcfcf;
        }
        .dropdown:hover .dropdown-content{
            display: block;
        }
        .header{
            position: relative;
            z-index: 500;
        }

    </style>



</head>
<body class="full-wrapper">
    <!-- ? Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src="assets/img/logo/loder.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- Preloader Start-->
    <header>
        <!-- Header Start -->
        <div class="header-area ">
            <div class="main-header header-sticky">
                <div class="container-fluid">
                    <div class="menu-wrapper d-flex align-items-center justify-content-between">
                        <div class="header-left d-flex align-items-center">
                            <!-- Logo -->
                            <div class="logo">
                                <a href="index.html"><img src="assets/img/logo/logo.png" alt=""></a>
                            </div>
                            <!-- Main-menu -->
                            <div class="main-menu  d-none d-lg-block">
                                <nav>
                                    <ul id="navigation">
                                        <li><a href="/">Home</a></li>
                                        <li><a href="/shop">Shop</a></li> 
                                        <li><a href="shop.html">Men</a></li>
                                        <li><a href="about.html">Boys</a></li>
                                        <li><a href="contact.html">Contact</a></li>
                                        <!-- <li><a href="blog.html">Blog</a>
                                            <ul class="submenu">
                                                <li><a href="blog.html">Blog</a></li>
                                                <li><a href="blog_details.html">Blog Details</a></li>
                                                <li><a href="elements.html">Elements</a></li>
                                                <li><a href="product_details.html">Product Details</a></li>
                                            </ul>
                                        </li> -->
                                        <% if(locals.user ) { %>
                                            <div class="dropdown">
                                               <li><a href="" class="sign-in-link"><%=locals.user.name %></a></li> 
                                                <div class="dropdown-content">
                                                    <a href="/userProfile">Profile</a>
                                                    <a href="/logout">Logout</a>

                                                </div>
                                            </div>
                                        <% } else {%>
                                            <li><a href="/login">Login</a></li>
                                            <li><a href="/signup">Signup</a></li>

                                            <% } %>
                                        
                                        
                                   
                                    </ul>
                                </nav>
                            </div>   
                        </div>
                        <div class="header-right1 d-flex align-items-center">
                            <!-- Social -->
                            <div class="header-social d-none d-md-block">
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="https://bit.ly/sai4ull"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fab fa-pinterest-p"></i></a>
                            </div>
                            <!-- Search Box -->
                            <div class="search d-none d-md-block">
                                <ul class="d-flex align-items-center">
                                    <li class="mr-15">
                                        <div class="nav-search search-switch">
                                            <i class="ti-search"></i>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="card-stor">
                                            <a href="/cart"><img src="assets/img/gallery/card.svg" alt=""></a>
                                            <span></span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- Mobile Menu -->
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Header End -->
    </header>
    <!-- header end -->