<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
     <meta name="keywords" content="GentzGallery, watches, fashion, accessories" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="assets/login/fonts/icomoon/style.css">

    <link rel="stylesheet" href="assets/login/css/owl.carousel.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="assets/login/css/bootstrap.min.css">
    
    <!-- Style -->
    <link rel="stylesheet" href="assets/login/css/style.css">

    <title></title>
  </head>
  <body>
  

  
  <div class="content">
    <div class="container">
      <div class="row justify-content-center">
        <!-- <div class="col-md-6 order-md-2">
          <img src="images/undraw_file_sync_ot38.svg" alt="Image" class="img-fluid">
        </div> -->
        <div class="col-md-6 contents">
          <div class="row justify-content-center">
            <div class="col-md-12">
              <div class="form-block">
                  <div class="mb-4">
                  <h3>Sign In to <strong>GentzGallery</strong></h3>
                  <p class="mb-4"></p>
                </div>
                <form action="#" method="post" id="loginForm">
                  <div class="form-group first">
                    <label for="email"></label>
                    <input type="text" class="form-control" id="email" name="email" placeholder="Email">
                    <div id="errorInEmail" class="errorMessage"></div>
                  </div>
                  

                  <div class="form-group last mb-4">
                    <label for="password"></label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                    <div id="errorInPassword" class="errorMessage"></div>
                  </div>
                 
                  <%if(locals.message && message.length>0){%>
                    <div class="alert alert-danger text-center">
                      <%=message%>
                    </div>
                    <%}%>
                  
                  <div class="d-flex mb-5 align-items-center">
                    <label class="control control--checkbox mb-0"><span class="caption">Remember me</span>
                      <input type="checkbox" checked="checked"/>
                      <div class="control__indicator"></div>
                    </label>
                    <span class="ml-auto"><a href="#" class="forgot-pass">Forgot Password</a></span> 
                  </div>

                  <input type="submit" value="Log In" class="btn btn-pill text-white btn-block btn-primary">

                  <span class="d-block text-center my-4 text-muted"> or sign in with</span>
                  
                  <div class="social-login text-center">
                    
                    <a href="/auth/google" class="google">
                      <span class="icon-google mr-3"></span> 
                    </a>
                  </div>
                  <div class="row">
                    <div class="col-12">
                      <hr class="mt-5 mb-4 border-secondary-subtle">
                      <p class="m-0  text-center">Not registered? <a href="/signup" class="link-primary text-decoration-none ">Sign up</a></p>
                    </div>
                  </div>    
                </form>
              </div>
            </div>
          </div>
        </div> 
      </div>
    </div>
  </div>



 

  
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
    <script>
      const emailid = document.getElementById("email");
      const passid = document.getElementById("password");
      const errorInEmail = document.getElementById("errorInEmail");
      const errorInPassword = document.getElementById("errorInPassword");
      const loginform = document.getElementById("loginform");

      function emailValidateChecking(e) {
        const emailval = emailid.value;
        const emailpattern =
          /^[a-zA-Z0-9._-]+@([a-zA-Z0-9.-]+)\.([a-zA-Z]{2,4})$/;

        if (!emailpattern.test(emailval)) {
          errorInEmail.style.display = "block";
          errorInEmail.innerHTML = "Invalid Format";
        } else {
          errorInEmail.style.display = "none";
          errorInEmail.innerHTML = "";
        }
      }

      function passValidateChecking(e) {
        const passval = passid.value;
        if (passval.length < 8) {
          errorInPassword.style.display = "block";
          errorInPassword.innerHTML = "Should contain at least 8 characters";
        } else {
          errorInPassword.style.display = "none";
          errorInPassword.innerHTML = "";
        }
      }

      document.addEventListener("DOMContentLoaded", function () {
        loginform.addEventListener("submit", function (e) {
          emailValidateChecking();
          passValidateChecking();

          if (!emailid || !passid || !errorInEmail || !errorInPassword || !loginform) {
            console.error("One or more elements not found");
          }

          if (errorInEmail.innerHTML || errorInPassword.innerHTML) {
            e.preventDefault();
          }
        });
      });
    </script>
  </body>
</html>

