<!doctype html>
<html class="no-js" lang="zxx">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>GentzGallery</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="manifest" href="site.webmanifest">
  <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">


  <meta charset="UTF-8" />
  <meta name="description" content="Male_Fashion Template" />
  <meta name="keywords" content="Male_Fashion, unica, creative, html" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>GentzGallery
  </title>
  <!-- <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css" />
  <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css" />
  <link rel="stylesheet" href="css/elegant-icons.css" type="text/css" />
  <link rel="stylesheet" href="css/magnific-popup.css" type="text/css" />
  <link rel="stylesheet" href="css/nice-select.css" type="text/css" />
  <link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css" />
  <link rel="stylesheet" href="css/slicknav.min.css" type="text/css" />
  <link rel="stylesheet" href="css/style.css" type="text/css" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
  -->





  <!-- CSS here -->
  <link rel="stylesheet" href="assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
  <link rel="stylesheet" href="assets/css/slicknav.css">
  <link rel="stylesheet" href="assets/css/flaticon.css">
  <link rel="stylesheet" href="assets/css/progressbar_barfiller.css">
  <link rel="stylesheet" href="assets/css/gijgo.css">
  <link rel="stylesheet" href="assets/css/animate.min.css">
  <link rel="stylesheet" href="assets/css/animated-headline.css">
  <link rel="stylesheet" href="assets/css/magnific-popup.css">
  <link rel="stylesheet" href="assets/css/fontawesome-all.min.css">
  <link rel="stylesheet" href="assets/css/themify-icons.css">
  <link rel="stylesheet" href="assets/css/slick.css">
  <link rel="stylesheet" href="assets/css/nice-select.css">
  <link rel="stylesheet" href="assets/css/style.css">
  <link rel="stylesheet" href="https://unpkg.com/bootstrap@5.3.3/dist/css/bootstrap.min.css">
  <link rel="stylesheet"
    href="https://unpkg.com/bs-brain@2.0.4/components/registrations/registration-4/assets/css/registration-4.css">

   <style>
    .error-message {
      color: red;
      font-size: 0.75rem;
      display: "none";
    }

    body, html {
        height: 100%;
        margin: 0;
        font-family: "Nunito Sans", sans-serif;
        overflow: hidden;
    }
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
    .login_wrap {
        width: 100%;
        max-width: 400px;
        padding: 20px;
        border-radius: 5px;
        background: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    .heading_s1 h3 {
        margin: 0;
        font-size: 24px;
        font-weight: 600;
        color: #333;
        text-align: center;
        margin-bottom: 30px;
    }
    .form-group {
        margin-bottom: 15px;
    }
    .otp-timer {
        display: inline-block;
        margin-left: 10px;
        font-size: 14px;
        position: relative;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        line-height: 60px;
        text-align: center;
        background: #f2f2f2;
        border: 2px solid #ddd;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }
    #timerValue {
        display: block;
        font-size: 24px;
        font-weight: bold;
        color: #333;
        line-height: 60px;
    }
    #timerValue.expired {
        font-size: 14px;
        color: red;
    }
    .btn-primary {
        background-color: #007bff;
        border: none;
        width: 100%;
        margin-top: 10px;
        display: block;
    }
    .btn-primary:hover {
        background-color: #0056b3;
    }
    .btn-secondary {
        width: 100%;
        background-color: #6c757d;
        border: none;
        margin-top: 10px;
        display: block;
    }
    .btn-secondary:hover {
        background-color: #5a6268;
    }
    .alert-danger {
        margin-top: 15px;
        text-align: center;
    }
    .text-center {
        text-align: center;
        margin-top: 15px;
    }
    .text-muted {
        color: #6c757d;
        text-align: center;
    }
    .pt-25 {
        padding-top: 25px;
    }
</style>
</head>

<body class="full-wrapper">
  <!-- ? Preloader Start -->
  <div id="preloader-active">
    <div class="preloader d-flex align-items-center justify-content-center">
      <div class="preloader-inner position-relative">
        <div class="preloader-circle"></div>
        <div class="preloader-img pere-text">
          <img src="assets/img/logo/loder.png" alt="">
        </div>
      </div>
    </div>
  </div>
  <!-- Preloader Start-->
  <header>
    <!-- Header Start -->
    <div class="header-area ">
      <div class="main-header header-sticky">
        <div class="container-fluid">
          <div class="menu-wrapper d-flex align-items-center justify-content-between">
            <div class="header-left d-flex align-items-center">
              <!-- Logo -->
              <div class="logo">
                <a href="index.html"><img src="assets/img/logo/logo.png" alt=""></a>
              </div>
              <!-- Main-menu -->
              <div class="main-menu  d-none d-lg-block">
                <nav>
                  <ul id="navigation">
                    <li><a href="/">Home</a></li>
                    <li><a href="shop.html">shop</a></li>
                    <li><a href="about.html">About</a></li>
                    <li><a href="blog.html">Blog</a>
                      <ul class="submenu">
                        <li><a href="blog.html">Blog</a></li>
                        <li><a href="blog_details.html">Blog Details</a></li>
                        <li><a href="elements.html">Elements</a></li>
                        <li><a href="product_details.html">Product Details</a></li>
                      </ul>
                    </li>
                    <li><a href="contact.html">Contact</a></li>
                  </ul>
                </nav>
              </div>
            </div>
            <div class="header-right1 d-flex align-items-center">
              <!-- Social -->
              <div class="header-social d-none d-md-block">
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="https://bit.ly/sai4ull"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-pinterest-p"></i></a>
              </div>
              <!-- Search Box -->
              <div class="search d-none d-md-block">
                <ul class="d-flex align-items-center">
                  <li class="mr-15">
                    <div class="nav-search search-switch">
                      <i class="ti-search"></i>
                    </div>
                  </li>
                  <li>
                    <div class="card-stor">
                      <img src="assets/img/gallery/card.svg" alt="">
                      <span>0</span>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <!-- Mobile Menu -->
            <div class="col-12">
              <div class="mobile_menu d-block d-lg-none"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Header End -->
  </header>
  <!-- header end -->
  <main>

    <!--? Services Area End -->


    <!-- Registration 4 - Bootstrap Brain Component -->
    <section class="p-3 p-md-4 p-xl-5">
      <div class="container  ">
        <div class=" ">
          <div class="row g-0 justify-content-center align-items-center">
            <!-- here logo -->
            <!-- <div class="col-12 col-md-6">
              <img class="img-fluid rounded-start w-100 h-100 object-fit-cover" loading="lazy"
                src="assets/img/logo/logo-img-1.jpg" alt="GentzGallery Logo">
                
            </div> -->

            <!-- otp verification here -->


            <div class="container">
                <div class="login_wrap">
                    <div class="padding_eight_all bg-white">
                        <div class="heading_s1">
                            <h3>Email Verification Page</h3>
                        </div>
                        <form id="otpForm" action="/verifyOtp" method="post" onsubmit="return validateOtpForm()">
                            <div class="form-group">
                                <label for="otp">Enter OTP:</label>
                                <input type="text" id="otp" name="otp" class="form-control" required maxlength="6" pattern="\d*" />
                            </div>
                            <button type="submit" class="btn btn-primary">Verify Email</button>
                            <div class="form-group text-center">
                                <div id="otpTimer" class="otp-timer">
                                    <span id="timerValue">60</span>
                                </div>
                                <button id="resendButton" type="button" class="btn btn-secondary" onclick="resendOtp()">Resend OTP</button>
                            </div>
                            <% if (locals.message && message.length > 0) { %>
                            <div class="alert alert-danger"><%= message %></div>
                            <% } %>
                        </form>
                        <div class="text-muted text-center pt-25">
                            Already verified? <a href="/login">Login now</a>
                        </div>
                    </div>
                </div>
            </div>




            <!-- <div
              class="col-12 col-md-6 col-lg-4 d-flex justify-content-center align-items-center  card border-light-subtle shadow-sm">
              <div class="card-body p-3 p-md-4 p-xl-5" style="background-color: rgb(224, 224, 224);">
                <div class="row">
                  <div class="col-12">
                    <div class="mb-5">
                      <h3 class="h3">Sign In to <strong>GentzGallery</strong></h3>
                      <h3 class="fs-6 fw-normal text-secondary m-0">Enter your details to Sign in</h3>
                    </div>
                  </div>
                </div>
                <form action="#" method="post" id="loginForm">
                  <div class="row gy-3 gy-md-4 overflow-hidden">

                    <div class="col-12">
                      <label for="email" class="form-label">Email <span class="text-danger">*</span></label>
                      <input type="email" class="form-control" name="email" id="email" placeholder="name@example.com">
                    </div>
                    <div id="errorInEmail" class="error-message"></div>

                    <div class="col-12">
                      <label for="password" class="form-label">Password <span class="text-danger">*</span></label>
                      <input type="password" class="form-control" name="password" id="password" value="">
                    </div>
                    <div id="errorInPassword" class="error-message"></div>

                    <%if(locals.message && message.length>0){%>
                      <div class="alert alert-danger text-center">
                        <%=message%>
                      </div>
                      <%}%>
                        <div class="col-12">
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" name="iAgree" id="iAgree" required>
                            <label class="form-check-label text-secondary" for="iAgree">
                              I agree to the <a href="#!" class="link-primary text-decoration-none">terms and
                                conditions</a>
                            </label>
                          </div>
                        </div>
                        <div class="col-12">
                          <div class="d-grid">
                            <button class="btn bsb-btn-xl btn-primary" type="submit">Log in</button>
                          </div>
                        </div>
                  </div>
                </form>

                <div class="row">
                  <div class="col-12">
                    <hr class="mt-5 mb-4 border-secondary-subtle">
                    <p class="m-0 text-secondary text-center">Not registered? <a href="/signup"
                        class="link-primary text-decoration-none">Sign Up</a></p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <hr class="mt-5 mb-4 border-secondary-subtle">
                    <p class="m-0 text-secondary text-center">Or sign in with </p>
                  </div>
                  <div class="col-12 mt-2 pt-2">
                    <div class="d-grid">
                      <a href="/auth/google" class="btn bsb-btn-xl btn-outline-primary">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                          class="bi bi-google" viewBox="0 0 16 16">
                          <path
                            d="M15.545 6.558a9.42 9.42 0 0 1 .139 1.626c0 2.434-.87 4.492-2.384 5.885h.002C11.978 15.292 10.158 16 8 16A8 8 0 1 1 8 0a7.689 7.689 0 0 1 5.352 2.082l-2.284 2.284A4.347 4.347 0 0 0 8 3.166c-2.087 0-3.86 1.408-4.492 3.304a4.792 4.792 0 0 0 0 3.063h.003c.635 1.893 2.405 3.301 4.492 3.301 1.078 0 2.004-.276 2.722-.764h-.003a3.702 3.702 0 0 0 1.599-2.431H8v-3.08h7.545z" />
                        </svg>
                        <span class="ms-2 fs-6">Google</span>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div> -->
          </div>
        </div>
      </div>
    </section>
  </main>
  <footer>
    <!-- Footer Start-->
    <div class="footer-area footer-padding bg-secondary">
      <div class="container-fluid ">
        <div class="row d-flex justify-content-between">
          <div class="col-xl-3 col-lg-3 col-md-8 col-sm-8">
            <div class="single-footer-caption mb-50">
              <div class="single-footer-caption mb-30">
                <!-- logo -->
                <div class="footer-logo mb-35">
                  <a href="index.html" class="h1 text-light" text-decoration:none>GentzGallery</a>
                </div>
                <div class="footer-tittle">
                  <div class="footer-pera">
                    <p>Where to find the perfect watch</p>
                  </div>
                </div>
                <!-- social -->
                <div class="footer-social">
                  <a href="#"><i class="fab fa-twitter"></i></a>
                  <a href="https://bit.ly/sai4ull"><i class="fab fa-facebook-f"></i></a>
                  <a href="#"><i class="fab fa-pinterest-p"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-2 col-lg-2 col-md-4 col-sm-4">
            <div class="single-footer-caption mb-50">
              <div class="footer-tittle">
                <h4>Help & Information</h4>
                <ul>
                  <li><a href="#">Terms & Conditions</a></li>
                  <li><a href="#">Home Page</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-xl-2 col-lg-2 col-md-4 col-sm-4">
            <div class="single-footer-caption mb-50">
              <div class="footer-tittle">
                <h4>About</h4>
                <ul>
                  <li><a href="#">Our Story</a></li>
                  <li><a href="#">Contact Us</a></li>

                </ul>
              </div>
            </div>
          </div>
          <div class="col-xl-2 col-lg-2 col-md-4 col-sm-4">
            <div class="single-footer-caption mb-50">
              <div class="footer-tittle">
                <h4>Collections</h4>
                <ul>
                  <li><a href="#">Men</a></li>
                  <li><a href="#">Boys</a></li>

                </ul>
              </div>
            </div>
          </div>
          <div class="col-xl-2 col-lg-3 col-md-4 col-sm-4">
            <div class="single-footer-caption mb-50">
              <div class="footer-tittle">
                <h4>Categories</h4>
                <ul>
                  <li><a href="#">Analog</a></li>
                  <li><a href="#">Digital</a></li>
                  <li><a href="#">Analog-Digital</a></li>
                  <li><a href="#">Smart</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- footer-bottom area -->
    <div class="footer-bottom-area">
       
      <div class="container">
        <div class="footer-border">
          <div class="row d-flex align-items-center">
            <div class="col-xl-12 ">
              <div class="footer-copy-right text-center">
                <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                  Copyright &copy;
                  <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made
                  with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com"
                    target="_blank">Colorlib</a>
                  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Footer End-->
</footer>
    <!--? Search model Begin -->
    <div class="search-model-box">
      <div class="h-100 d-flex align-items-center justify-content-center">
        <div class="search-close-btn">+</div>
        <form class="search-model-form">
          <input type="text" id="search-input" placeholder="Searching key.....">
        </form>
      </div>
    </div>
    <!-- Search model end -->
    <!-- Scroll Up -->
    <div id="back-top">
      <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
    </div>

    <!-- JS here -->
    <!-- Jquery, Popper, Bootstrap -->
    <script src="./assets/js/vendor/modernizr-3.5.0.min.js"></script>
    <script src="./assets/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="./assets/js/popper.min.js"></script>
    <script src="./assets/js/bootstrap.min.js"></script>

    <!-- Slick-slider , Owl-Carousel ,slick-nav -->
    <script src="./assets/js/owl.carousel.min.js"></script>
    <script src="./assets/js/slick.min.js"></script>
    <script src="./assets/js/jquery.slicknav.min.js"></script>

    <!-- One Page, Animated-HeadLin, Date Picker -->
    <script src="./assets/js/wow.min.js"></script>
    <script src="./assets/js/animated.headline.js"></script>
    <script src="./assets/js/jquery.magnific-popup.js"></script>
    <script src="./assets/js/gijgo.min.js"></script>

    <!-- Nice-select, sticky,Progress -->
    <script src="./assets/js/jquery.nice-select.min.js"></script>
    <script src="./assets/js/jquery.sticky.js"></script>
    <script src="./assets/js/jquery.barfiller.js"></script>

    <!-- counter , waypoint,Hover Direction -->
    <script src="./assets/js/jquery.counterup.min.js"></script>
    <script src="./assets/js/waypoints.min.js"></script>
    <script src="./assets/js/jquery.countdown.min.js"></script>
    <script src="./assets/js/hover-direction-snake.min.js"></script>

    <!-- contact js -->
    <script src="./assets/js/contact.js"></script>
    <script src="./assets/js/jquery.form.js"></script>
    <script src="./assets/js/jquery.validate.min.js"></script>
    <script src="./assets/js/mail-script.js"></script>
    <script src="./assets/js/jquery.ajaxchimp.min.js"></script>

    <!-- Jquery Plugins, main Jquery -->
    <script src="./assets/js/plugins.js"></script>
    <script src="./assets/js/main.js"></script>




    <!-- otp verification logic page -->

    <script>
        document.getElementById("otp").focus();
    
        let timer = 60;
        let timerInterval;
    
        function startTimer() {
            console.log("Timer started");
            // Disable the resend button and reset the timer visually
            document.getElementById("resendButton").disabled = true;
            document.getElementById("timerValue").classList.remove("expired");
            document.getElementById("timerValue").textContent = timer;
    
            timerInterval = setInterval(() => {
                timer--;
                document.getElementById("timerValue").textContent = timer;
    
                if (timer <= 0) {
                    clearInterval(timerInterval);
    
                    // Enable the resend button and mark the timer as expired
                    document.getElementById("resendButton").disabled = false;
                    document.getElementById("timerValue").classList.add("expired");
                    document.getElementById("timerValue").textContent = "Expired";
    
                    // Disable the OTP input when time expires
                    document.getElementById("otp").disabled = true;
                }
            }, 1000);
        }
        startTimer();
    
        function validateOtpForm() {
            const otpInput = document.getElementById("otp").value;
            $.ajax({
                type: "POST",
                url: "verifyOtp",
                data: { otp: otpInput },
                success: function (response) {
                    if (response.success) {
                        Swal.fire({
                            icon: "success",
                            title: "OTP Verified Successfully",
                            showConfirmButton: false,
                            timer: 1500,
                        }).then(() => {
                            window.location.href = response.redirectUrl;
                        });
                    } else {
                        Swal.fire({
                            icon: "error",
                            title: "Error",
                            text: response.message, // Fixed this line to use the actual response message
                        });
                    }
                },
                error: function () {
                    Swal.fire({
                        icon: "error",
                        title: "Invalid OTP",
                        text: "Please try again",
                    });
                },
            });
            return false;
        }
    
        function resendOtp() {
            clearInterval(timerInterval); // Stop the previous timer
            timer = 60; // Reset the timer countdown
    
            // Re-enable OTP input and reset timer UI
            document.getElementById("otp").disabled = false;
            document.getElementById("timerValue").classList.remove("expired");
            document.getElementById("timerValue").textContent = `${timer}`;
    
            startTimer(); // Restart the timer
            console.log("Timer restarted after resend");
    
            $.ajax({
                type: "POST",
                url: "resendOtp",
                success: function (response) {
                    if (response.success) {
                        Swal.fire({
                            icon: "success",
                            title: "OTP Resent Successfully",
                            showConfirmButton: false,
                            timer: 1500,
                        });
                    } else {
                        Swal.fire({
                            icon: "error",
                            title: "Error",
                            text: "An error occurred while resending the OTP. Please try again.",
                        });
                    }
                },
                error: function () {
                    Swal.fire({
                        icon: "error",
                        title: "Network Error",
                        text: "Unable to resend OTP. Please check your connection.",
                    });
                },
            });
    
            return false; // Prevent default form submission if inside a form
        }
    </script>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    
    
   
</body>

</html>

















